/*-- HORIZONTAL BARS --*/
  hr {
    content:            none;
    display:            block;
    border:             none;
    background-color:   #7D3C98;
    height:             0.2em;
    margin: 5px auto;

  }

/*-- CUSTOM CLASSES FOR TEXT EMPHASIS --*/
.blue       { color:   #005EB8 }
.green      { color:   #009639 }
.pink       { color:   #AE2573 }
.red        { color:   #da291ce0 }
.warmyellow { color:   #FFB81C }
.grey       {color:    #5D6D7E }
.purple     {color:    #7D3C98 }


/* left border style */

.lb-b {
    border-left: solid 5px #83e3f6a0;
    padding-left: 0.3em;
    }
    
.lb-r {
    border-left: solid 5px #f683b1a0;
    padding-left: 0.3em;
}
    


.title-deco {
    border-radius: 0px 50px 50px 0px;
    border:5px solid rgba(33, 31, 82, 0.862);
    padding-left: 200px;
    padding-right: 50px;
    margin-left: -200px;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 5px;
    }
    
.bg-b{
    background-color:rgba(68, 188, 225, 0.25); }
.bg-g{
    background-color:rgba(52, 242, 160, 0.25); }
.bg-r{
    background-color:rgba(225, 68, 152, 0.25); }
.bg-y{
    background-color:rgba(248, 237, 40, 0.25); }

.circle-num {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    min-width: 1.2em;
    vertical-align: middle;
    font-weight: bold;
    }

.infobox {
    min-width: 200px;
    min-height: 100px;
    margin: 10px auto 15px;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    }

.box {
    min-width: 50px;
    min-height: 10px;
    margin: 3px auto 5px;
    text-align: justify;
    padding: 5px;
    border-radius: 20px;
    }

/* .reveal .slide-logo {
    max-height: 1.1rem;
    bottom: -2px;
    right: 10px;
    }

.reveal .footer {
    font-size: 14px;
    bottom: 12px;
    } */



.slide-number-b {
    font-size: 10px;
    bottom: 7px;
    } 

.ti {

    font-size: 100px;
    text-align: center;
    font-weight: bold;

}









